.font-size-light{
	font-size: 12px !important;
}
.font-size-lighter{
	font-size: 10px !important;
}
.bd-round{
	border-radius: 20px;
	background-color: bisque;
	border: 1px solid #000;
	color: white;
	border-radius: 1rem;
}